<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>드라마</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'genre_style.css' %}">
    {% include "tab/userTab.html" %}
</head>
<body>
    {% if login_res %}
        {% include "tab/userTab.html" %}
    {% else %}
        {% include "tab/noneUserTab.html" %}
    {% endif %}

    <div id="movie-container" class="movie-container">
        {% for movie in movies %}
            <div class="movie-item">
                <a href="{% url 'detailpage_int' movie_id=movie.pk %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.fields.poster_path }}" alt="{{ movie.fields.title }}">
                    <h2>{{ movie.fields.title }}</h2>
                    </a>
            </div>
        {% empty %}
            <p>No movies found for this genre.</p>
        {% endfor %}
    </div>
</body>
</html>
