<div class="header">
        <div class="logo">
            <a href=" {% url 'homepage' %}">CCM_Cinema</a></div>
        <div class="genres">
            <div class="genre">
                <a href="{% url 'action' %}">액션</a>
            </div>
            <div class="genre">
                <a href="{% url 'comedy' %}">코미디</a>
            </div>
            <div class="genre">
                <a href="{% url 'horror' %}">공포</a>
            </div>
            <div class="genre">
                <a href="{% url 'romance' %}">로맨스</a>
            </div>
            <div class="genre">
                <a href="{% url 'drama' %}">드라마</a>
            </div>
            <div class="genre">
                <a hvref="{% url 'anime' %}">애니메이션</a>
            </div>
        </div>

        <div class="search-profile">
            <label for="menu" class="about-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
        </div>
    </div>
<!-- 메뉴 토글 링크 -->
    <input style="display: none" type="checkbox" id="menu">

<div class="menu_tab">
        <a href="{% url 'notice'%}">공지사항</a>
        <a href="{% url 'aboutus'%}">About Us</a>
        <a href="{% url 'myinfo' %}">내 정보</a>
        <a href="{% url 'logout' %}">로그아웃</a>
    </div>
<div class="footer">
        <p>© 2024 CCM_Cinema &nbsp;&nbsp;&nbsp; by. Code Comedian</p>
    </div>